{% extends 'base.html' %}
{% block title %}Login || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="align-center col-sm-auto col-lg-6 col-md-6 ">
        <div class="card-body">
            {% include 'form.html' %}
            <a href="{% url 'register' %}" class="float-left" style="text-decoration: none;">Create new account.</a>
            <a href="{% url 'password_reset' %}" class="float-right" style="text-decoration: none;">Forger your
                password.</a>
        </div><!-- end of card body -->
    </div><!-- end of card -->

{% endblock %}