{% extends 'temporary/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart{% endblock %}
{% block content %}
    {% if cart %}
        <h2>Cart List</h2>
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        {% with product=item.product %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><img width="40px"
                                         src="{% if product.item.image %} {{ product.item.image.url }} {% else %} {% static 'img/book_image.png' %} {% endif %}">
                                    <a href="{{ product.get_absolute_url }}">{{ product.item.item_name }}-{{ product.size }} </a>
                                </td>

                                <td>
                                    {% with next_url=request.build_absolute_uri %}
                                        <form action="{% url "cart-create-url" product.pk %}" method="post"
                                              id="update{{ product.pk }}">
                                            {% if next_url %}
                                                <input type="hidden" name="next" value="{{ next_url }}">
                                            {% endif %}
                                            {% csrf_token %}
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.update }}
                                            {#                                            <input type="submit" value="Update" class="btn-sm btn-info">#}
                                            {# ++========================   Below Code For Dynamic Id and automatic form submit ======================#}
                                            <script type="text/javascript">
                                                document.getElementById("id_quantity").id = "id_quantity{{ product.pk }}";
                                                document.getElementById("id_quantity{{ product.pk }}").addEventListener("change", submit);

                                                function submit() {
                                                    document.getElementById("update{{ product.pk }}").submit();
                                                }
                                            </script>
                                            {#  ============================================================================================ #}
                                        </form>
                                    {% endwith %}
                                </td>
                                <td>{{ item.price }} TK</td>

                                <td><a href="{% url "cart-remove-url" product.pk %}">X<i class="fas fa-minus-circle"></i></a></td>
                            </tr>
                        {% endwith %}
                    {% endfor %}


                    <tr>
                        <td colspan="2"></td>
                        <td>
                            <button onclick="window.location.href='{% url 'product-home-url' %}'"
                                    class="btn-success text-center"><i class="fas fa-luggage-cart"></i>Continue Shopping
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 ">
                <p class="lead">Checkout Summary</p>
                <hr>
                <p>Payment Details</p>
                <div class="row ">
                    <div class="mr-auto col"><b>Total: </b></div>
                    <div class="ml-auto col"><p> {{ cart.get_total_price }} Tk</p></div>
                </div>
                <div class="row ">
                    <div class="mr-auto col"></div>
                    <div class="ml-auto col"><a href=""
                                                class="btn btn-success">Checkout</a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p class="center">Cart is Empty </p>
    {% endif %}
    {#    <script type="text/javascript">#}
    {#        document.getElementById("id_quantity").addEventListener("change", submit);#}
    {##}
    {#        function submit() {#}
    {#            document.getElementById("update").submit();#}
    {#        }#}
    {#    </script>#}
{% endblock %}

